.project-background {
    background-image: url("assets/images/forth-col.png");
    background-repeat: no-repeat;
    /* margin-top: 100px;
    height: 435px; */
}

.heading {
    background-color: #1c1a19
}

.firstline {
    color:orange;
}

.secondline {
    color:white;
}

.thirdline {
    color:white;
}

.recent-works {
    height:200px; width: 90%;
}

.card {
    padding-top: 120px;
}