
.heading {
    background-color: #1c1a19
}

.firstline {
    color:orange;
}

.secondline {
    color:white;
}

.thirdline {
    color:white;
}

.recent-works {
    height:200px; width: 90%;
}

.card {
    padding-top: 120px;
}